* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 60px 75px;
}

// sections ON - OFF
#features {
  display: none;
}
#team {
  display: none;
}
#signIn {
  display: none;
}
footer {
  display: none;
}
