// Fonts variables
$fontPrimary: Raleway;
$fontSecondary: OpenSans;
$weightNormal: 400;
$weightBold: 700;

// Colors Variables
$veryDarkBlue: #070439;
$desatBlue: #585989;
$brightBlue: #3065f8;
$moderateCyan: #3c9f8f;
$lightGrayishBlue: #f6f6fe;
$lightGray: #bfbfbf;
